@import "settings";

.panel {
  margin: $panel.margin;
}

.header, .tip {
  flex-align-center: true;
  font-size: $panel.header.font.size;
  color: $panel.header.font.color;  
  padding: $panel.header.padding;
  min-height: $panel.header.minHeight;
}

.title {
  flex: 1;
}

.body {
  background-color: $panel.body.backgroundColor;
}