@import "../settings";

.{$.button} {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $button.font.size;
  min-height: $button.minHeight;
  min-width: $button.minHeight;
  padding: $button.padding.self;
  color: $color.white;
  border-line: $button.border.radius;

  &:active {
    color: shade($color.white, 20%);
  }

  &_icon {
    padding: $button.padding.icon;
  }

  &.is-plain {
    background-color: $color.transparent !important;
  }

  &_default {
    color: $button.defaultColor;
    &.is-plain {
      border-line-color: $button.defaultColor;
    }
    &:active {
      color: tint($button.defaultColor, 40%);
      background-color: shade($color.white, 10%);
      &.is-plain {
        color: tint($button.defaultColor, 50%);
        border-line-color: tint($button.defaultColor, 50%);
      }
    }
  }

  for $type in $button.types {
    &_{$type} {
      background-color: $color[$type];
      &:active {
        background-color: shade($color[$type], 5%);
      }
      &.is-plain {
        color: $color[$type];
        border-line-color: $color[$type];
        &:active {
          color: tint($color[$type], 30%);
          border-line-color: tint($color[$type], 30%);
        }
      }
    }
  }

  &.is-mini {
    font-size: $button.mini.font.size;
  }

  &.is-inline {
    display: inline-flex;
  }

  &.is-disabled {
    disabled: true;
  }

  &.has-white-space {
    margin: $button.whiteSpace;
  }
}
