@import "../settings";

.{$.field} {

  > .{$.item}_body > .{$.item}_middle > .{$.item}_info > .{$.item}_outline > * {
    ellipsis: 1;
  }

  &--reset {
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;

    resize: none;
    -webkit-appearance: none;
    box-shadow: none;

    color: inherit;
    font: inherit;
    line-height: inherit;

    display: block;
    width: 100%;
    background-color: transparent;

    &::placeholder {
      color: $color.text.placeholder;
    }
  }

  &--hidden {
    position: absolute;
    left: -9999em;
  }
}
