@import "../settings";

// placeholders
$flexAlignCenter {
  display: flex;
  align-items: center;
}

$flexColumn {
  display: flex;
  flex-direction: column;
}

$flex1 {
  flex: 1;
}

$gap {
  > *:not(:first-child) {
    margin-left: $item.body.gap;
  }
}

// main
.{$.item} {
  @extend $flexColumn;

  &_body {
    @extend $flexAlignCenter, $gap;
    min-height: $item.body.minHeight;
    padding: $item.body.padding;
  }

  &_left, &_right {
    @extend $flexAlignCenter;
  }

  &_middle {
    @extend $flexAlignCenter, $flex1, $gap;
  }

  &_info {
    @extend $flexAlignCenter, $gap;
  }

  &_outline {
    @extend $flexColumn, $flex1;
    overflow-x: hidden;
  }

  &_desc {
    font-size: $item.desc.font.size;
    color: $item.desc.font.color;
    text-wrap: true; // 同时父元素应有 overflow-x: hidden
  }

  &_extra {
    @extend $flex1;
  }

  &_note {
    font-size: $item.note.font.size;
    color: $item.note.font.color;
  }

  &_arrow {
    font-size: $item.arrow.size;
    color: $item.arrow.color;
  }

  &:last-child {
    > .{$.hairline}_line {
      display: none;
    }
  }
}
