@import "../settings";

.{$.switch} {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: $switch.width;
  height: $switch.height;
  line-height: $switch.height;
  color: $color.white;
  border-line: ($switch.height / 2);

  &::before {
    content: '';
    position: absolute;
    width: $switch.dot.size;
    height: $switch.dot.size;
    border-radius: 50%;
    background-color: currentColor;
    top: 50%;
    left: 0;
    backface-visibility: hidden;
    transform: translate3d(0, -50%, 0);
    transition: transform $switch.transition.time $switch.transition.fn;
    box-shadow: $switch.dot.boxShadow;
    z-index: 2;
  }

  &.is-off {
    background-color: $switch.off.backgroundColor;
    border-line-color: $switch.off.borderColor;
  }

  &.is-on {
    background-color: $switch.on.backgroundColor;
    border-line-color: $switch.on.borderColor;
    &::before {
      transform: translate3d($switch.width - $switch.height, -50%, 0);
    }
  }

  &.is-disabled {
    disabled: true;
  }
}
