@import "settings";

$line {
  position: absolute;
  color: $hairline.color;
  border-width: 0;
  border-color: currentColor;
  border-style: solid;
  pointer-events: none;
  z-index: 1;
}

$vertical {
  left: 0;
  right: 0;
  height: 1px;
  transform: scaleY(.5) translateZ(0);
  @extend $line;
}

$horizonal {
  top: 0;
  bottom: 0;
  width: 1px;
  transform: scaleX(.5) translateZ(0);
  @extend $line;
}

.hairline {
  position: relative;
}

.top {
  top: 0;
  border-top-width: 1px !important;
  transform-origin: 0 0;
  @extend $vertical;
}

.bottom {
  bottom: 0;
  border-bottom-width: 1px !important;
  transform-origin: 0 100%;
  @extend $vertical;
}

.left {
  left: 0;
  border-left-width: 1px !important;
  transform-origin: 0 0;
  @extend $horizonal;
}

.right {
  right: 0;
  border-right-width: 1px !important;
  transform-origin: 100% 0;
  @extend $horizonal;
}
