@import "base";

$button := {
  types: (primary success warning danger info),
  defaultColor: $color.black,
  font: {
    size: $font.size.large
  },
  minHeight: 2.6em,
  whiteSpace: 2rem,
  padding: {
    self: .4em 1.4em,
    icon: 0 .1em
  },
  border: {
    radius: .25em
  },
  mini: {
    font: {
      size: $font.size.small
    }
  }
}
