@import "settings";

body.fix {
  position: fixed;
  width: 100%;
  height: 100%;
}

.popup {
  flex-center: true;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $popup.maskColor;
  &.right {
    justify-content: flex-end;
  }
  &.left {
    justify-content: flex-start;
  }
  &.top {
    align-items: flex-start;
  }
  &.bottom {
    align-items: flex-end;
  }
}