@import "./variables";

// Reset form field
.form-field-reset {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;

  resize: none;
  -webkit-appearance: none;
  box-shadow: none;

  color: inherit;
  font: inherit;
  line-height: inherit;

  background-color: transparent;

  &::placeholder {
    color: $color.text.placeholder;
  }
}

// Display flex
display-flex($display) {
  & {
    display: $display;
  }
  &-align-center {
    display: $display;
    align-items: center;
  }
  &-justify-center {
    display: $display;
    justify-content: center;
  }
  &-center {
    display: $display;
    align-items: center;
    justify-content: center;
  }
  &-column {
    display: $display;
    flex-direction: column;
  }
}

.flex {
  display-flex: flex;
}

.inline-flex {
  display-flex: inline-flex;
}
