@import "./variables";

// Reset form field
.form-field-reset {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;

  resize: none;
  -webkit-appearance: none;
  box-shadow: none;

  color: inherit;
  font: inherit;
  line-height: inherit;

  background-color: transparent;
  width: 100%;

  &::placeholder {
    color: $color.text.placeholder;
  }
}

// Display flex
.flex {
  display: flex;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.flex-justify-center {
  display: flex;
  justify-content: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.inline-flex {
  display: inline-flex;
}
.inline-flex-align-center {
  display: inline-flex;
  align-items: center;
}
.inline-flex-justify-center {
  display: inline-flex;
  justify-content: center;
}
.inline-flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.inline-flex-column {
  display: inline-flex;
  flex-direction: column;
}
