@import "../settings";

html {
  font-size: $font.size.root;
  font-family: $font.family;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  user-select: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: $color.transparent;
}

body {
  color: $color.text.primary;
  background-color: $color.background.main;
  font-size: $font.size.base;
  line-height: $lineHeight.content;
}

a {
  text-decoration: none;
}
