@font-face {
  font-family: "f-icon";
  src: url("../assets/iconfont.ttf");
}

.f-icon-radiobox-checked:before { content: "\e721"; }

.f-icon-radiobox-checked-outline:before { content: "\e726"; }

.f-icon-checkbox:before { content: "\e722"; }

.f-icon-checkbox-checked:before { content: "\e723"; }

.f-icon-checkbox-checked-outline:before { content: "\e724"; }

.f-icon-radiobox:before { content: "\e72f"; }

.f-icon-xiangshang1:before { content: "\e76e"; }

.f-icon-xiangxia1:before { content: "\e772"; }

.f-icon-xuanzejiaobiao:before { content: "\e717"; }

.f-icon-caret-down:before { content: "\e61c"; }

.f-icon-caret-up:before { content: "\e623"; }

.f-icon-arrow-back:before { content: "\e71c"; }

.f-icon-arrow-down:before { content: "\e71d"; }

.f-icon-arrow-forward:before { content: "\e71e"; }

.f-icon-arrow-left:before { content: "\e71f"; }

.f-icon-arrow-right:before { content: "\e720"; }

.f-icon-arrow-up:before { content: "\e725"; }

.f-icon-bell:before { content: "\e72d"; }

.f-icon-bell-outline:before { content: "\e72e"; }

.f-icon-check:before { content: "\e749"; }

.f-icon-check-outline:before { content: "\e74b"; }

.f-icon-circle-filled:before { content: "\e74c"; }

.f-icon-circle-outline:before { content: "\e74d"; }

.f-icon-clock:before { content: "\e74e"; }

.f-icon-clock-outline:before { content: "\e74f"; }

.f-icon-close:before { content: "\e750"; }

.f-icon-close-empty:before { content: "\e751"; }

.f-icon-close-outline:before { content: "\e752"; }

.f-icon-drag:before { content: "\e76d"; }

.f-icon-eye:before { content: "\e770"; }

.f-icon-eye-outline:before { content: "\e771"; }

.f-icon-gear:before { content: "\e788"; }

.f-icon-gear-outline:before { content: "\e789"; }

.f-icon-help:before { content: "\e798"; }

.f-icon-help-outline:before { content: "\e79a"; }

.f-icon-information:before { content: "\e79f"; }

.f-icon-information-outline:before { content: "\e7a1"; }

.f-icon-more-outline:before { content: "\e7a3"; }

.f-icon-minus:before { content: "\e7af"; }

.f-icon-minus-empty:before { content: "\e7b0"; }

.f-icon-minus-outline:before { content: "\e7b1"; }

.f-icon-more:before { content: "\e7b6"; }

.f-icon-plus:before { content: "\e7db"; }

.f-icon-plus-empty:before { content: "\e7dc"; }

.f-icon-plus-outline:before { content: "\e7dd"; }

.f-icon-search:before { content: "\e7df"; }

.f-icon-search-strong:before { content: "\e7e0"; }

.f-icon-sort-desc:before { content: "\e7e1"; }

.f-icon-sort-asc:before { content: "\e7e2"; }
