// color
// ===========================================
$color := {
  white: #fff,
  black: #000,
  red: #ff4136,
  transparent: transparent,
  primary: #1aad19,
  success: #1aad19,
  warning: #e64340,
  danger: #f56c6c,
  info: #409eff,
  link: #586c94,
  border: rgba(0, 0, 0, .2),
  text: {
    primary: #303133,
    regular: #606266,
    secondary: #909399,
    placeholder: #c0c4cc
  },
  background: {
    main: #f5f7fa,
    content: #fff
  }
}

// font
// ===========================================
$font := {
  size: {
    root: 2.6vmin,
    smaller: 1rem,
    small: 1.2rem,
    base: 1.4rem,
    medium: 1.6rem,
    large: 1.8rem,
    larger: 2rem
  },
  family: '-apple-system-font, Helvetica Neue, Helvetica, sans-serif'
}

// transition
// ===========================================
$transition := {
  time: .32s,
  fn: ease
}

// opacity
// ===========================================
$opacity := {
  disabled: .5
}

// line-height
// ===========================================
$lineHeight := {
  normal: 1,
  content: 1.45
}
