@import "base";

$divider := {
  font: {
    size: $font.size.medium,
    color: $color.text.secondary
  },
  padding: 1em 0,
  width: 80%,
  gap: .6em,
  line: {
    color: $color.border,
    minWidth: 1em
  }
}
