@import "base";

$panel := {
  margin: 1rem 0,
  header: {
    font: {
      size: $font.size.base,
      color: $color.text.secondary
    },
    minHeight: $font.size.base * 2,
    padding: 0 .85rem
  },
  body: {
    backgroundColor: $color.white
  }
}
