@import "base";

$sheet := {
  backgroundColor: $color.background.content,
  header: {
    font: {
      size: $font.size.large
    },
    cancel: {
      font: {
        size: 1em,
        color: $color.text.regular
      }
    },
    confirm: {
      font: {
        size: 1em,
        color: $color.primary
      }
    }
  }
}
