@import "base";

$tag := {
  font: {
    size: $font.size.base,
    color: $color.text.secondary
  },
  height: 2em,
  padding: {
    vertical: .4em,
    horizontal: .5em
  },
  gutter: .4em,
  border: {
    radius: .3em,
    color: $hairline.color
  },
  mini: {
    font: {
      size: $font.size.small
    },
    height: 1.6em
  },
  selected: {
    font: {
      color: $color.primary
    },
    border: {
      color: $color.primary
    }
  }
}
