$ := {
  hairline: 'f-hairline',
  list: 'f-list',
  item: 'f-item',
  icon: 'f-icon',
  button: 'f-button',
  input: 'f-input',
  form: 'f-form',
  field: 'f-field',
  inputNumber: 'f-input-number',
  textarea: 'f-textarea',
  select: 'f-select'
}
