@import "settings";

.choice {
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.box {
  color: $choice.color.normal;
}

.selected {
  > .box {
    color: $choice.color.selected;
  }
}

.input {
  display: none;
}
