$font = {
  size: {
    root: 16px,
    smaller: .4rem,
    small: .6rem,
    base: .8rem,
    medium: 1rem,
    large: 1.2rem,
    larger: 1.4rem
  },
  family: '-apple-system-font, Helvetica Neue, Helvetica, sans-serif'
}

@import "../settings";

$color.background.main = #fff